*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

:root {
    --clr-primary: #3ebccb;
    --clr-primary-dark: #27838d;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-size: 1.8rem;
    font-family: 'Satoshi', sans-serif;
}

.header {
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid gray;
}

.header__logo {
    display: block;
    object-fit: contain;
    height: 12.5rem;
}

.header__nav {
    margin-right: 5rem;
}

.header__nav-list {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    list-style: none;
}

.main {
    padding: 0 5rem;
}

.form {
    width: 100%;
}

.form__flex {
    display: flex;
    gap: 5rem;
}

.form__title {
    margin-bottom: 2.5rem;
    font-size: 2.4rem;
    color: var(--clr-primary-dark);
}

.form__fieldset {
    padding: 1rem 0;
    border-radius: 1rem;
    width: 50%;
}

.form__fieldset > * {
    margin: 0 2.5rem;
}

.form__fieldset-title {
    margin-left: 1rem;
    color: var(--clr-primary-dark);
}

.form__label,
.form__input {
    display: block;
}

.form__label {
    margin-bottom: 1rem;
}

.form__input {
    outline: none;
}

.form__input:not(.form__input--radio) {
    width: 100%;
    padding: 0.25em 0.5em;
    border: 1px solid var(--clr-primary);
    border-radius: 1rem;
}

.form__radio {
    margin-left: 1rem;
}

.form__input--radio {
    display: inline;
    accent-color: var(--clr-primary);
}

.form__submit {
    display: block;
    margin-top: 5rem;
    padding: 0.25em;
    width: 100%;
    background-color: var(--clr-primary);
    color: white;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 1rem;
    transition: background-color 0.3s;
}

.form__submit:hover {
    background-color: var(--clr-primary-dark);
    cursor: pointer;
}